In [1]:
import requests
from bs4 import BeautifulSoup as bs

### NASA Mars News

In [ ]:
url = "https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest"

In [ ]:
result = requests.get(url)

In [ ]:
result.text

In [ ]:
soup = bs(result.text, 'html')

In [ ]:
print(soup.prettify)

In [ ]:
news_title = soup.title
print(news_title.text)

In [ ]:
soup.body.find_all("h3")[:]

In [ ]:
# soup.find_all("div", class_="list_text")

In [ ]:
title=soup.find_all("div", class_="content_title")[1]

In [ ]:
titles=soup.find_all("div", class_="content_title")

In [ ]:
title

In [ ]:
titles

In [ ]:
len(titles)

In [ ]:
#soup.findAll("li",{"class":"slide"})
soup.find_all("li", class_="slide")

In [ ]:
#soup.findAll("div",{"class":"image_and_description_container"})
soup.find_all("div", class_="image_and_description_container")

In [ ]:
soup.findAll("li",{"class":"slide"})

In [ ]:
soup.body.li

In [ ]:
#news_title = "NASA's Next Mars Mission to Investigate Interior of Red Planet"

#news_p = "Preparation of NASA's next spacecraft to Mars, InSight, has ramped up this summer, on course for launch next May from Vandenberg Air Force Base in central California -- the first interplanetary launch in history from America's West Coast."

##### New's title

In [ ]:
news_title = soup.find("div", class_="content_title").a.text.strip()
news_title

##### News paragraph

In [ ]:
news_p = soup.find("div", class_="article_teaser_body")
news_p

In [ ]:
titles = soup.find_all("div", class_="list_text")
#titles = soup.find_all("div", class_="image_and_description_container") 
titles

In [ ]:
#content_title
#article_teaser_body

### JPL Mars Space Images - Featured Image

In [ ]:
from splinter import Browser

In [ ]:
# Windows
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [ ]:
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

In [ ]:
html = browser.html
soup = bs(html, 'lxml')

In [ ]:
browser.click_link_by_partial_text('FULL IMAGE')

In [ ]:
browser.click_link_by_partial_text('more info')

In [ ]:
html2 = browser.html
soup2 = bs(html2, 'lxml')
img_tag = soup2.find('img')
img_tag

In [ ]:
url = img_tag.get('src')
url

In [ ]:
featured_img_url = f'https://www.jpl.nasa.gov{url}'
featured_img_url

### Mars Facts
###### (kernel restart required)

In [15]:
import requests
from bs4 import BeautifulSoup as bs
from splinter import Browser
import pandas as pd

In [3]:
# Windows
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [4]:
url = 'https://space-facts.com/mars/'
browser.visit(url)

In [5]:
html = browser.html
soup = bs(html, 'lxml')

In [6]:
browser.click_link_by_partial_text('Mars Facts')

In [7]:
html2 = browser.html
soup2 = bs(html2, 'lxml')

In [11]:
table_rows = soup2.find_all('tr')
table_rows

[<tr class="row-1 odd">
 <td class="column-1"><strong>Equatorial Diameter:</strong></td><td class="column-2">6,792 km<br/>
 </td>
 </tr>, <tr class="row-2 even">
 <td class="column-1"><strong>Polar Diameter:</strong></td><td class="column-2">6,752 km<br/>
 </td>
 </tr>, <tr class="row-3 odd">
 <td class="column-1"><strong>Mass:</strong></td><td class="column-2">6.42 x 10^23 kg (10.7% Earth)</td>
 </tr>, <tr class="row-4 even">
 <td class="column-1"><strong>Moons:</strong></td><td class="column-2">2 (<a href="https://space-facts.com/phobos/">Phobos</a> &amp; <a href="https://space-facts.com/deimos/">Deimos</a>)</td>
 </tr>, <tr class="row-5 odd">
 <td class="column-1"><strong>Orbit Distance:</strong></td><td class="column-2">227,943,824 km (1.52 AU)</td>
 </tr>, <tr class="row-6 even">
 <td class="column-1"><strong>Orbit Period:</strong></td><td class="column-2">687 days (1.9 years)<br/>
 </td>
 </tr>, <tr class="row-7 odd">
 <td class="column-1"><strong>Surface Temperature: </strong></td><td class="column-2">-153 to 20 Â°C</td>
 </tr>, <tr class="row-8 even">
 <td class="column-1"><strong>First Record:</strong></td><td class="column-2">2nd millennium BC</td>
 </tr>, <tr class="row-9 odd">
 <td class="column-1"><strong>Recorded By:</strong></td><td class="column-2">Egyptian astronomers</td>
 </tr>]

In [12]:
len(table_rows)

9

In [13]:
#<td class="column-1"><strong>Equatorial Diameter:</strong></td><td class="column-2">6,792 km<br/>
for tr in table_rows:
    tr.find('strong')
    tf.find('td', class_='column-2')

NameError: name 'tf' is not defined

In [14]:
x = pd_read(table_rows)
x

NameError: name 'pd_read' is not defined